#Ejemplo, si se sube a github
DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1

# Rutas locales de prueba
RUTA_ARCHIVOS_ENTRADA=C:/ruta/de/prueba/entrada
RUTA_ARCHIVOS_SALIDA=C:/ruta/de/prueba/salida

# Base de datos futura
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#Ejemplo de conexión a Oracle, se sube a github
ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_HOST=
ORACLE_PORT=1521
ORACLE_SID=