# =========================
# Oracle Completar
# =========================

ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_HOST=
ORACLE_PORT=
ORACLE_SERVICE_NAME=
ORACLE_CLIENT_PATH=


# =========================
# Django Completar
# =========================

ALLOWED_HOSTS=

DASHBOARD_SCHEDULER_ENABLED=